<div class="credentials reveal-group" data-reveal-group>
  <div class="credential-item reveal-child">
    <span class="credential-value font-serif">{{ site.credentials.education }}</span>
    <span class="credential-label">Conservatory Graduate</span>
  </div>
  <div class="credential-item reveal-child">
    <span class="credential-value font-serif">{{ site.credentials.experience }}</span>
    <span class="credential-label">{{ site.credentials.experienceLabel }}</span>
  </div>
  <div class="credential-item reveal-child">
    <span class="credential-value font-serif">{{ site.credentials.events }}</span>
    <span class="credential-label">{{ site.credentials.eventsLabel }}</span>
  </div>
  <div class="credential-item reveal-child">
    <span class="credential-value font-serif">{{ site.credentials.audience }}</span>
    <span class="credential-label">{{ site.credentials.audienceLabel }}</span>
  </div>
</div>
